<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010667364632-5infcrlrtk6lfno7ugvb4thf95vfpa7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010667364632-5infcrlrtk6lfno7ugvb4thf95vfpa7g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1010667364632-6spt6bssqdci5vanc9gdoquat9otrhe4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhqNWLvsqekI31JeQtJXBvt9Hhl-6FvV0</string>
	<key>GCM_SENDER_ID</key>
	<string>1010667364632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eventoapp.evetoapp</string>
	<key>PROJECT_ID</key>
	<string>evento-app-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>evento-app-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010667364632:ios:66422ec897c64889857e6d</string>
</dict>
</plist>